<div class="button-container">
  <button type="button" class="btn btn-outline-primary  btn-sm" (click)="open()">Open</button>
  <button type="button" class="btn btn-outline-danger btn-sm" (click)="close()">Close</button>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="toggle()">Toggle</button>
  <button type="button" class="btn btn-outline-dark btn-sm" (click)="toggleDarkTheme()">Toggle Dark Theme</button>
  <button type="button" class="btn btn-outline-primary btn-sm" (click)="toggleCloseButton()">Toggle Close Button</button>
</div>

<angular-bottom-sheet #test [options]="options">
  <p>What is Lorem Ipsum?</p>
</angular-bottom-sheet>
