.bottom-sheet-bg-overlay {
  background: rgba(0, 0, 0, .32);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bottom-sheet-container {
  background: #fff;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-radius: 8px 8px 0px 0;
  left: 50%;
  margin-left: -35%;
  width: 75%;
  z-index: 4;
  color: #363636;
  box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
  font-family: 'Roboto',sans-serif;
}

.bg-dark{
  color:rgba(255, 255, 255, 0.90);
  background: #363636;
}

.bottom-sheet-header h4.title {
  display: inline-block;
  font-weight: 500;
  margin: 0;
  font-size: 1rem;
}

.bottom-sheet-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  padding: 16px;
}

.bg-dark-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.bottom-sheet-footer {
  text-align: center;
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}

.bg-dark-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.16);
}

.bottom-sheet-content {
  max-height: 300px;
  overflow-y: auto;
  padding: 16px;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bdbdbd;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 92, 92);
}

@media (max-width: 992px) {
  .bottom-sheet-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 0;
  }
}
