
<div class="add-widget-popover" *ngIf="flags.isWidgetSelectedEnabled" [style.backgroundColor]="options?.backgroundColor"
  [style.color]="options?.fontColor" [@slideUpToggle]>
  <div>
    <div class="p-l-15 p-r-15 widget-popover-header">
      <h3 class="m-t-0 m-b-0 title  p-t-15">{{options?.title}}</h3>
      <button type="button" class="close pull-right" aria-label="Close" (click)="flags.isWidgetSelectedEnabled = false">
        <i aria-hidden="true" [style.color]="options?.fontColor"><span>&times;</span></i>
      </button>
    </div>
    <div class="widget-card-container p-all-16">
      <ng-content></ng-content>
    </div>
  </div>
</div>
